### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

.vagrant/
ubuntu-bionic*
.vscode
node_modules
npm-debug.log
client/static
webpack-stats*

# Environments
.env/